In [1]:
p = 0.9

In [2]:
f0 = (0.1) ** 3
f1 = 3 * (0.9) ** 1 * (0.1) ** 2
f2 = 3 * (0.9) ** 2 * (0.1) ** 1

F2 = f0+f1+f2

F2

0.271

In [1]:
from math import comb
def binom_pmf(x, n, p):
    return comb(n, x) * p ** x * (1-p) ** (n-x)

In [4]:
x_list = [0, 1, 2, 3]
n = 3
p = 0.9
fx = [binom_pmf(x, 3, 0.9) for x in x_list]

In [5]:
fx

[0.0009999999999999994,
 0.02699999999999999,
 0.24299999999999997,
 0.7290000000000001]

In [14]:
import pandas as pd
tabel_fx = pd.DataFrame({'x': x_list,
                        'fx': fx})

In [16]:
tabel_fx['Fx'] = tabel_fx['fx'].cumsum()

In [17]:
tabel_fx

   x     fx     Fx
0  0  0.001  0.001
1  1  0.027  0.028
2  2  0.243  0.271
3  3  0.729  1.000

In [18]:
tabel_fx['xfx'] = tabel_fx['x'] * tabel_fx['fx']

EX = tabel_fx['xfx'].sum()

EX # n * p

2.7

In [19]:
tabel_fx

   x     fx     Fx    xfx
0  0  0.001  0.001  0.000
1  1  0.027  0.028  0.027
2  2  0.243  0.271  0.486
3  3  0.729  1.000  2.187

In [20]:
tabel_fx['x2'] = tabel_fx['x'] ** 2
tabel_fx

   x     fx     Fx    xfx  x2
0  0  0.001  0.001  0.000   0
1  1  0.027  0.028  0.027   1
2  2  0.243  0.271  0.486   4
3  3  0.729  1.000  2.187   9

In [21]:
tabel_fx['x2fx'] = tabel_fx['x2'] * tabel_fx['fx']
tabel_fx

   x     fx     Fx    xfx  x2   x2fx
0  0  0.001  0.001  0.000   0  0.000
1  1  0.027  0.028  0.027   1  0.027
2  2  0.243  0.271  0.486   4  0.972
3  3  0.729  1.000  2.187   9  6.561

In [22]:
EX2 = tabel_fx['x2fx'].sum()
EX2

7.5600000000000005

In [23]:
varX = EX2 - (EX) ** 2
varX

0.2699999999999996

In [24]:
EX2 = (10000 ** 3 - 7000 ** 3) / 9000
EX = 8500

varX = EX2 - EX ** 2
varX

750000.0

In [25]:
varX = 1/12*(3000) ** 2
varX

750000.0